{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

    <link rel="stylesheet" href="{% static 'css/posts/main.css' %}" />
     <!-- 동적 스타일 -->
     {% block staticBlock %}{% endblock staticBlock %} 

    <title>{%block title%}{% endblock title %} |  Djangogram</title>
  </head>
  <body class="bg-gray-50 m-0 p-0">
    
    <div class="header">
        {% include "posts/header.html" %}
    </div>
    
    <div class="content">
      {% block content %} {% endblock content %}
    </div>
    
  </body>
</html> 