{% extends "users/base.html" %}


{% block title %} 
장고 인스타그램 | 로그인
{% endblock title%} 


{% block content %}

<div class="w-full flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <!-- 로그인 컨테이너 -->
  <div class="w-full  bg-white p-8 rounded-lg shadow-md w-full max-w-md text-center">
      <div class=" mb-5 x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xseo6mj xod5an3 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
       <i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v4/yB/r/E7m8ZCMOFDS.png&quot;); background-position: 0px -52px; background-size: auto; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
     
     </div>

    
      <form action="{% url 'users:main' %}" method="post" class="space-y-4">
        {% csrf_token %}
        <!-- 사용자 이름 필드 -->
        <div>
          <input 
            type="text" 
            name="username" 
            placeholder="사용자이름(아이디)" 
            required 
            class="w-full p-3 border border-gray-300 rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>
        <!-- 비밀번호 필드 -->
        <div>
          <input 
            type="password" 
            name="password" 
            placeholder="비밀번호" 
            required 
            class="w-full p-3 border border-gray-300 rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 
            focus:border-blue-500"
          />
        </div>

        {% if  error_message  %}
        <!-- 에러 메시지 -->
        <div  class="w-full text-left items-center">        
          <div class="!text-red-500 col-span-7 text-sm mt-1 ">{{ error_message }}</div>
       </div>
       {% endif %}

        <!-- 로그인 버튼 -->
        <button 
          type="submit" 
          class="w-full py-3 bg-blue-500 text-white text-lg rounded-lg hover:bg-blue-600 transition-colors">
          로그인
        </button>
      </form>
    
  
    <!-- 회원가입 링크 -->
    <div class="mt-6">
      <a href="{% url 'users:signup' %}" class="text-sm text-blue-500 hover:underline">
        회원가입
      </a>
    </div>

  </div>

</div>

{% endblock content %}


